<a href="https://colab.research.google.com/github/Arsema6/Data-Science-Bootcamp/blob/1/8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import seaborn as sns
import pandas as pd
titanic_df = sns.load_dataset('titanic')# Load the Titanic dataset
missing_values_count = titanic_df.isnull().sum()

print(missing_values_count)

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64